@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
:root {
  --clr: #222327;
  --clrbg: #140f32;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #140f32;
}

/* header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .icon {
  height: 50px;
  width: 50px;
}
header .icon:hover {
  scale: 0.9;
  transition: 0.2s;
}
header .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header .logo span {
  color: rgb(91, 255, 228);
  transition: 0.2s ease-in-out;
}
header .logo:hover span {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}
header .logo:hover {
  color: rgb(91, 255, 228);
  transition: 0.2s ease-in-out;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
}
header ul li a:hover,
header ul li a.active {
  background: white;
  color: #2b1055;
  transition: 0.2s ease-in-out;
}
header ul li a.active:hover {
  background: rgb(78, 45, 88);
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

/* navigasi */
.navigation {
  position: fixed;
  width: 350px;
  max-width: 400px;
  height: 70px;
  background: white;
  display: block;
  border-radius: 10px;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
  z-index: 2000;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
}
.navigation ul li a .icon {
  display: block;
  position: relative;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
}
.navigation ul li a .navv {
  position: absolute;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  font-weight: 400;
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 0;
}
.navigation ul li.active a .navv {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  transform: translateY(-50%);
  bottom: 50%;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 6px solid var(--clrbg);
  transition: 1s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 53%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 transparent;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 53%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 transparent;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

/* section */
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #140f32, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section#Journey {
  background: #302c4b;
}
section div.grada::before {
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 150px;
  right: 0;
  background: linear-gradient(to bottom, #140f32, transparent);
  z-index: 1000;
}
section#Journey::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #140f32, transparent);
  z-index: 1000;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#maindesert {
  z-index: 10;
}
section img#oasisbd {
  z-index: 11;
}
section img#oasisld {
  z-index: 9;
}
#text {
  color: white;
  right: -500px;
  white-space: nowrap;
  position: absolute;
  font-size: 7.5vw;
  z-index: 9;
}
#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  display: inline-block;
  background: white;
  color: #2b1055;
  font-size: 1.3em;
  z-index: 1;
  transform: translateY(100px);
  font-weight: 550;
}
#btn:hover {
  background: rgb(57, 17, 80);
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
.sec {
  margin-bottom: 150px;
  margin-top: 150px;
  position: relative;
  padding: 100px;
  background: #140f32;
}
.jor {
  margin-bottom: 150px;
  margin-top: 0;
  top: 0;
  position: relative;
  padding: 100px;
  padding-top: 50px;
}
.jor h2 {
  padding-bottom: 20px;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
}
.sec h3 {
  font-size: 1.3em;
  color: white;
  margin-bottom: 15px;
}
.sec p {
  font-size: 1em;
  color: white;
}
.fadeInbot {
  animation: fadeInbot var(--sec);
}
@keyframes fadeInbot {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeIntop {
  animation: fadeIntop var(--sec);
}
@keyframes fadeIntop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInleft {
  animation: fadeInleft var(--sec);
}
@keyframes fadeInleft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* break point */
@media (max-width: 2000px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 800px) {
  .navigation {
    display: block;
  }
  header ul li {
    display: none;
  }
  header {
    position: relative;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .icon {
    display: none;
  }
}
